body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #000000; 
    margin: 0;
    padding: 0;
}

button {
    background-color: white; /* White background */
    color: purple; /* Purple text */
    border: 2px solid purple; /* Purple border */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

button:hover {
    background-color: purple; /* Purple background on hover */
    color: white; /* White text on hover */
    border-color: white; /* White border on hover */
}


header {
    text-align: center;
    margin-bottom: 30px;
}

header img {
    width: 100%; 
    max-height: 300px;
    object-fit: cover; 
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
